bin/
_Warnings.csv
_Total PM25.tif.aux.xml
_Total PM25.tif
_Total PM10.tif.aux.xml
_Total PM10.tif
_Statistics.csv
_Smoldering PM25.tif.aux.xml
_Smoldering PM25.tif
_Smoldering PM10.tif.aux.xml
_Smoldering PM10.tif
_Flaming PM25.tif.aux.xml
_Flaming PM25.tif
_Flaming PM10.tif.aux.xml
_Flaming PM10.tif
_All.tif.aux.xml
_All.tif
Galini-C\#/.vs/Galini-C\#/v17/DocumentLayout.json
Galini-C\#/.vs/Galini-C\#/v17/.suo
Galini-C\#/.vs/Galini-C\#/FileContentIndex/dd1dcfa6-2a04-422f-8425-60a9308eda5e.vsidx
Galini-C\#/.vs/Galini-C\#/FileContentIndex/2f9a8a2a-feab-41ed-9d57-5bd1a8c4838e.vsidx
Galini-C\#/.vs/Galini-C\#/DesignTimeBuild/.dtbcache.v2
