bin/
_Warnings.csv
_Total PM25.tif.aux.xml
_Total PM25.tif
_Total PM10.tif.aux.xml
_Total PM10.tif
_Statistics.csv
_Smoldering PM25.tif.aux.xml
_Smoldering PM25.tif
_Smoldering PM10.tif.aux.xml
_Smoldering PM10.tif
_Flaming PM25.tif.aux.xml
_Flaming PM25.tif
_Flaming PM10.tif.aux.xml
_Flaming PM10.tif
_All.tif.aux.xml
_All.tif
Galini-C\#/.vs/Galini-C\#/v17/DocumentLayout.json
Galini-C\#/.vs/Galini-C\#/v17/.suo
Galini-C\#/.vs/Galini-C\#/FileContentIndex/dd1dcfa6-2a04-422f-8425-60a9308eda5e.vsidx
Galini-C\#/.vs/Galini-C\#/FileContentIndex/2f9a8a2a-feab-41ed-9d57-5bd1a8c4838e.vsidx
Galini-C\#/.vs/Galini-C\#/DesignTimeBuild/.dtbcache.v2
Galini-C\#/.vs/Galini-C\#/v17/.futdcache.v2
Galini-C\#/.vs/Galini-C\#/FileContentIndex/aace895e-4176-436c-83bd-966d6b14eb39.vsidx
Galini-C\#/.vs/Galini-C\#/FileContentIndex/0d2b56f6-f230-4c31-9fac-04f20c21d35f.vsidx
Galini-C\#/.vs/ProjectEvaluation/galini-c\#.metadata.v8.bin
Galini-C\#/.vs/ProjectEvaluation/galini-c\#.projects.v8.bin
Galini-C\#/.vs/ProjectEvaluation/galini-c\#.strings.v8.bin
Galini-C\#/.vs